# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstats

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

# Misc
*.log
*.tmp
